* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display';
    font-style: normal;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #7584ac;
}


.background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;

}

section {
    max-width: 450px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}


.main-text {
    margin: 45px 48px 20px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 17px;
}

article>h1 {
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    color: #1F2E55;
}

.main-text>p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #717FA6;
}



.second-tex {
    margin: 0px 48px;
    padding: 25px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F9FF;
    border-radius: 11px;
}

.second-tex>div {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.second-tex>div>h3 {
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    color: #1F2E55;
}


.second-tex>div>p {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #717FA6;
}

.second-tex>p {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #382AE1;
}

.second-tex>p:hover {
    cursor: pointer;
    color: #766CF1;
    transition: 0.2s ease-in-out;

}

.button {
    margin: 32px 48px;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #382AE1;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    color: white;
    border-radius: 11px;
}

.button:hover {
    cursor: pointer;
    background-color: #766CF1;
    transition: 0.2s ease-in-out;
}

footer {
    margin-bottom: 48px;
    text-align: center;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    color: #717FA6;
}

footer:hover {
    cursor: pointer;
    color: #1F2E55;
    transition: 0.2s ease-in-out;
}